<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <p> {{ message }}</p>
        <p v-text="message"></p>
        <p v-pre>{{ message }}</p>
        <a v-bind:href="url">WINGSプロジェクト</a>
        <input type="button" value="click" v-on:click="onclick" v-bind:disabled="flag" />

        <!-- p.58 mouse in/outの使い方 -->
        <div id="outer" v-on:mouseenter="onmousein" v-on:mouseleave="onmouseout">
            外(outer)
            <p id="inner">
                内(inner)
            </p>
        </div>
        <div v-html="result"></div>

        <!-- P.64 mouse位置を取得して、マウス位置を可視化する。 -->
        <div id="main" v-on:mousemove="onmousemove">
            screen: {{ screenX }} / {{ screenY }}<br />
            page: {{ pageX }} / {{ pageY }}<br />
            client: {{ clientX }} / {{ clientY }}<br />
            offset: {{ offsetX }} / {{ offsetY }}<br />
        </div>
        <!-- P.65 イベントハンドラーに任意の引数を渡す。 -->
        <div>
            <button v-on:click="onclick65('ようこそ'), $event">クリック</button>
        </div>
        <!-- P.67 双方向データバインティング -->
        <form>
            <label for="name">氏名：</label>
            <input type="text" id="name" v-model="myName" />
        </form>
        <div>　こんにちは、{{ myName }} さん！</div>
        <!-- P.70 チェックボックス -->
        <form>
            <label for="agree">同意する</label>
            <input type="checkbox" id="agree" v-model="agree" true-value="yes" false-value="no" />
        </form>
        <div> 回答： {{ agree }} </div>
        <!-- P.79 バインドの動作オプションを設定する。 -->
        <form>
            <label for="temperature">サウナの温度</label>
            <input type="text" id="temperature" v-model.number="temperature" v-on:change="onchange79" />
        </form>
        <!-- P.87 制御関連のディレクティブ -->
        <fieldset>
            <legend>支払い方法</legend>
            クレジットカード
            <input type="radio" name="pay" value="credit" v-model="pay" />
            銀行振り込み
            <input type="radio" name="pay" value="bank" v-model="pay" />
            <hr />
            <!-- 支払い方法に応じて、入力ボックスを切り替え -->
            <div v-if="pay === 'credit'">
                カード番号：
                <input type="text" key="credit" />
            </div>
            <div v-else-if="pay === 'bank'">
                口座番号：
                <input type="text" key="bank" />
            </div>
        </fieldset>
        <!-- P.101 v-forループによる注意点<template>要素 -->
        <template v-for="s in songs">
            <header> {{ s.title }} </header>
            <div> {{ s.lyrics }} </div>
            <footer>{{ s.composer }} 作曲</footer>
        </template>
        <!-- P.103 配列の変更を反映する。 -->
        <form>
            <input type="button" value="変更" @click="onclick103" />
        </form>
        <ul>
            <li v-for="item in list" :key="item">{{ item }}</li>
        </ul>
        <!-- P.114 値を一度だけバインドする。 -->
        <form>
            <label for="name">氏名：</label>
            <input type="text" id="name" v-model="name" />
        </form>
        <!-- 初回だけしか反映されない -->
        <div v-once>はじめまして {{ name }} さん。</div>
        <div>初めまして {{ name }} さん！</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    </script>
    <script src="js/hello.js"></script>
</body>

</html>